<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="user" class="org.learn.service.userServiceImpl"/>
    <bean id="beforeLog" class="org.learn.service.beforeLog"/>
    <bean id="afterLog" class="org.learn.service.afterLog"/>
    <aop:config>
<!--        添加切入点-->
        <aop:pointcut id="pointcut" expression="execution(* org.learn.service.userServiceImpl.*(..))"/>
<!--        执行环绕添加-->
        <aop:advisor advice-ref="beforeLog" pointcut-ref="pointcut"/>
        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>
    </aop:config>
</beans>